body {
    background-color: black;
}

.rcbody {
    user-select: none;
    /* min-width: 400px; */
    /* min-height: 800px; */
    color: lightgray;
}

.button-commons {
    display: table;
    height: 6.2%;    
}

.button-label {
    display: table-cell;
    vertical-align: middle;
}

.button-2 {

}

.button-3 {

}

.button-4 {

}

#SEP {
    background-color: black;
}
